*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282c2f;
    font-family: consolas;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #33393e;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 12px rgba(0,0,0,1);
    display: grid;
    grid-template-columns: repeat(4, 65px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #282c2f;
    box-shadow: inset 15px 15px 20px rgba(0,0,0,0.5),
    inset -15px -15px 20px rgba(255,255,255,0.1);
    border: none;
    border-radius: 25px;
    color:white;
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding :20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #282c2f;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25),
     -5px -5px 10px rgba(255,255,255,0.1);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}
.equal{
    color:white;
    width: 115px;
    border-radius: 40px;
    background-color: #1974d2;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25),
     -5px -5px 10px rgba(255,255,255,0.1);
}
.calculator button{
    color: #ecf0f3;
}
.calculator button:hover{
    cursor: pointer;
}
#clear{
    background-color: #dc143c;
}
#delete{
    background-color: #31a935;
}